.container {
  text-align: center;
}

.main-header {
  margin-top: 18px;
  margin-bottom: 16px;
  text-align: center;
}

.main-header img {
  width: 50px;
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
}

.main-header h1 {
  display: inline-block;
  font-size: 2.2em;
  font-family: sans-serif;
  font-weight: normal;
  vertical-align: middle;
}

.main-header h3 {
  display: inline-block;
  font-size: 1.2em;
  font-family: sans-serif;
  font-weight: normal;
  vertical-align: middle;
}

.notice{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.notice h2 {
  display: inline-block;
  font-size: 1.5em;
  font-weight: normal;
  font-family: sans-serif;
  vertical-align: middle;
}

.predicted {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 40px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
}

.predicted_block {
  flex: 1;
  min-width: 400px;
  max-width: 500px;
  text-align: justify;
  padding-right: 5px;
  padding-left: 5px;
  line-height: 1.7em;
}

.predicted-header {
  margin-top: 18px;
  margin-bottom: 30px;
  text-align: center;
  color: #5b5b5b
}

.predicted-header img {
  width: 80px;
  display: inline-block;
  padding-right: 10px;
  vertical-align: middle;
}

.predicted-header h2 {
  display: inline-block;
  font-size: 1.5em;
  font-weight: normal;
  font-family: sans-serif;
  vertical-align: middle;
}

.predicted-p {
  text-align: left;
  max-width: 400px;
  font-size: 14px;
  font-family: sans-serif;
  color: #5b5b5b;
}

.button {
  float: right;
  margin-top: 10px;
  background-color: #fff;
  color: #b1b1b5;
  border: 1px solid #b1b1b5;
  border-radius: 8px;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 25px;
  padding-left: 10px;
  padding-right: 10px;
}

.button:hover {
  background: #b1b1b5;
  color: #fff;
}

.data-form {
  justify-content: center;
  float: center;
  width: 100%;
  min-width: 500px;
}

table {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
  border-radius: 3px;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0);
  overflow: hidden;
  font-family: sans-serif;
  font-size: 14px;
}

th {
  background: #2a4675;
  color: #ffffff;
  text-align: left;
  font-weight: bold;
}

th,
td {
  padding: 10px 20px;
}

tr:nth-child(even) {
  background: #f2f5fa;
}

.edit_box{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.edit_box textarea {
  border: 1px solid #b1b1b5;
  width: 100%;
  height: 200px;
  font-family: sans-serif;
  font-size: 1.1em;
  margin-bottom: 10px;
  padding-left: 10px;
}
