<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="utf-8">
	  <title>Marie Query</title>
	  <link rel="stylesheet" href="{{ url_for('static', filename='css/style0.css')}}">
	</head>

	<body>

		<header id="home">
	    <div class="container">
	      <div class="main-header">
	        <img src="{{ url_for('static', filename='img/dog.png')}}" alt="icon unavailable" width="40px">
	        <h1>Marie Query</h1>
	      </div>
	    </div>
	  </header>

		<form class="data-form" action="/add_data" method="POST" name="insert_form" enctype="multipart/form-data">
			<div class="form-group">
			<label for="table">DB table: ( *.csv )</label><br>
			<input type="file" id="table" name="table"><br>
			</div>
			<div class="container">
			<input class="button" id="upload_btn" type="submit" value="upload">
		</div>

		<table id="csvRoot"></table>

		</form>

		<script src="https://unpkg.com/papaparse@5.3.1/papaparse.min.js"></script>

		<script src="{{ url_for('static', filename='js/TableCsv.js')}}"></script>
		<!--{% for p in predicted %}
			{{p}}
		{% endfor %}
		-->
	</body>
</html>
